body {
  width: 100%;
  padding-bottom: 2%;
}

.container {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-bottom: 2%;
  padding-top: 2%;
}

form {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  align-self: center;
  font-size: 3.5rem;
}

.images {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.images img {
  width: 127px;
  height: 90px;
  padding: 0.2%;
}
.images img:hover {
  border: 3px solid #2ac8dd;
  border-radius: 3px;
}
#loadingImage {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
  h1 {
    align-self: center;
    font-size: 1.9rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 95%;
  }
  h1 {
    align-self: center;
    font-size: 2.2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  h1 {
    align-self: center;
    font-size: 2.6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 90%;
  }
  h1 {
    align-self: center;
    font-size: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 90%;
  }
  h1 {
    align-self: center;
    font-size: 3.5rem;
  }
}



@import url('https://fonts.googleapis.com/css?family=Roboto');

$slider-width: 400px;
$slider-height: 300px;

* { box-sizing: border-box; }


.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: $slider-height;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: $slider-height;
  z-index: 1;
}

.slides {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 10000px;
}

.slides.shifting {
  transition: left .2s ease-out;
}

.slide {
  width: $slider-width;
  height: $slider-height;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  border-radius: 2px;
}

.slider.loaded {
  
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 20px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 20px;
}

.prev:active,
.next:active {
  transform: scale(.8);
}

.dots i{display:inline-block; width:20px; height:20px; background:black;}

.dots i.active {background:white;}